[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pydocstyle = "*"
flake8 = "*"
bandit = "*"
black = "*"

[packages]
pandas = "*"
requests = "*"
colorama = "*"
termcolor = "*"
twython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
